h1 {
	text-align: center 
}

#body-container {
	width: 1100px;
	margin: 0 auto;
}

#text-container {
	height: 500px;
	width: 600px;
	float: left;
	border: 1px solid black;
	margin-right: 30px;
	padding: 20px;
}

#comments {
	width: 200px;
	height: 500px;
	float: left;
}

.nephritis {
	color: #27AE60;
}

.belize_hole {
	color: #2980B9;
}

.pomegranate {
	color: #C0392B;
}

.green_sea {
	color: #16A085;
}

.wisteria {
	color: #8E44AD;
}

.checkbox.nephritis,
.checkbox.belize_hole,
.checkbox.pomegranate,
.checkbox.green_sea,
.checkbox.wisteria {
	color: #34495E
}

.checkbox.nephritis:hover {
	color: #27AE60;
}

.checkbox.belize_hole:hover {
	color: #2980B9;
}

.checkbox.pomegranate:hover {
	color: #C0392B;
}

.checkbox.green_sea:hover {
	color: #16A085;
}

.checkbox.wisteria:hover {
	color: #8E44AD;
}

.bottom-buffer {
	margin-bottom: 110px;
}

.footer {
	padding: 50px 0 80px 0;
}