h1 {
	text-align: center 
}

#body-container {
	width: 1100px;
	margin: 0 auto;
}

#text-container {
	height: 500px;
	width: 600px;
	float: left;
	border: 1px solid black;
	margin-right: 30px;
	padding: 20px;
}

#comments {
	width: 200px;
	height: 500px;
	float: left;
}

#insert-comments-popup {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	display: none;
}

.nephritis {
	color: #27AE60;
}

.belize_hole {
	color: #2980B9;
}

.pomegranate {
	color: #C0392B;
}

.green_sea {
	color: #16A085;
}

.wisteria {
	color: #8E44AD;
}

.checkbox.nephritis,
.checkbox.belize_hole,
.checkbox.pomegranate,
.checkbox.green_sea,
.checkbox.wisteria {
	color: #34495E
}

.checkbox.nephritis:hover {
	color: #27AE60;
}

.checkbox.belize_hole:hover {
	color: #2980B9;
}

.checkbox.pomegranate:hover {
	color: #C0392B;
}

.checkbox.green_sea:hover {
	color: #16A085;
}

.checkbox.wisteria:hover {
	color: #8E44AD;
}

.nephritis .icon {
	background: url(../images/checkbox_nephritis.png);
}

.belize_hole .icon {
	background: url(../images/checkbox_belize_hole.png);
}

.pomegranate .icon {
	background: url(../images/checkbox_pomegranate.png);
}

.green_sea .icon {
	background: url(../images/checkbox_green_sea.png);
}

.wisteria .icon {
	background: url(../images/checkbox_wisteria.png);
}

.bottom-buffer {
	margin-bottom: 110px;
}

.footer {
	padding: 50px 0 80px 0;
}

#line-num,
#position {
	width: 40px;
}

#comment-text {
	width: 430px;
	height: 150px;
}

label[for="line-num"],
label[for="position"] {
	display: inline;
	margin: 0 56px;
}

label[for="comment-text"] {
	margin-top: 20px;
}