h1 {
	text-align: center 
}

#body-container {
	width: 80%;
	margin: 0 auto;
}

#text-container {
	height: 500px;
	width: 500px;
	float: left;
	border: 1px solid black;
	margin-right: 30px;
}

#comments {
	width: 200px;
	height: 500px;
	float: left;
}

.red {
	color: red;
}

.blue {
	color: blue;
} 

.green {
	color: green;
}

.yellow {
	color: yellow;
} 

.magenta {
	color: magenta;
} 

.cyan {
	color: cyan;
}

.bottom-buffer {
	margin-bottom: 110px;
}

.footer {
	padding: 50px 0 80px 0;
}