<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lithub</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A web application for peer review using GitHub">
        <meta name="author" content="Lisa Jervis, Hannah Krier, Dave Lester, and Weiyi Ng">
        <meta name="robots" content="index,follow">

		    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		    <link href="{{ url_for('static', filename='css/flat-ui.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
				<div class="container bottom-buffer">
				{% block body %}{% endblock %}
				</div>
				
				<footer class="footer">
					<div class="container center-text">
						A collaboration between Lisa Jervis, Hannah Krier, Dave Lester, and Weiyi Ng. Code is <a href="https://github.com/davelester/lithub">available for download</a> on GitHub.
					</div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				<script src="{{ url_for('static', filename='js/main.js') }}"></script>
				<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
				<script src="{{ url_for('static', filename='js/jquery-ui-1.10.0.custom.min.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/jquery.dropkick-1.0.0.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/custom_checkbox_and_radio.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/custom_radio.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/jquery.placeholder.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
				{% block scriptFooter %}{% endblock %}
    </body>
</html>